{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Class List</h2>
    <div class="search-wrapper">
        <form class="search-bar">
            <input list="classList" id="classSearch" name="classSeatch" placeholder="Search...">
            <datalist id="classList">
                {{range .Classes}}
                    <option value="{{.Name}}">
                {{end}}
            </datalist>
        </form>
        <button>Add</button>  
    </div>
    <table class="class-table">
        {{range .Notifications}}
        <tr>
            <td><a href="{{.Link}}">{{.Name}}</a></td>
            <td><button>Delete</button></td>
        </tr>
        {{end}}
    </table>
{{end}}