{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Class List</h2>
<div class="search-wrapper">
    <form class="search-bar" action="/notification/add" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <select id="classList" name="classId">
            {{range .Classes}}
                <option value="{{.ClassID}}">{{.Name}}</option>
            {{end}}
        </select>
        <button type="submit">Add</button>
    </form>
</div>
<table class="class-table">
    {{if .IsAuthenticated}}
        {{range .Notifications}}
        <tr>
            <td><a href="{{.Link}}">{{.Name}}</a></td>
            <td>
                <form action="/notification/delete/{{.NotificationID}}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{end}}
    {{else}}
        <h1>Log in to view notifications</h1>
    {{end}}
</table>
{{end}}