{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Class List</h2>
    <div class="search-wrapper">
        <form class="search-bar">
            <input list="classList" id="classSearch" name="classSeatch" placeholder="Search...">
            <datalist id="classList">
                <option value="Test1">
                <option value="Test2">
                <option value="Test3">
            </datalist>
        </form>
        <button>Add</button>  
    </div>
    <table class="class-table">
        <tr>
            <td>Class link</td>
            <td><button>Delete</button></td>
        </tr>
    </table>
{{end}}